<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/main-layout :: main-fragment(  
                                                ~{::title},
                                                ~{:: #static-resources},
                                                ~{:: #nav},
                                                ~{:: #sidebar},
                                                ~{:: #main-content},  
                                                ~{:: #footer},
                                                ~{:: #script}
                                               )}">

<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>

    <th:block id="static-resources">
        <!--/* Custom styles for this page */-->
        <link href="/vendor/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet">

    </th:block>

</head>

<body>
    <div id="sidebar" th:replace="~{fragments/sidebar :: default}"></div>
    <div id="nav" th:replace="~{/fragments/nav :: default}"></div>

    <!--/* Page Content */-->
    <div class="container-fluid" id="main-content">

        <!--/* Page Heading */-->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800" th:text="#{menu.portfolio}">My Portfolio</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                    class="fas fa-download fa-sm text-white-50"></i>[[#{button.generate-report}]]</a>
        </div>

        <!--/* Content Row */-->
        <div class="row">

            <!--/* Total Balance */-->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Total Balance</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800 currency-format">[[${totalBalance}]]</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--/* 24h Portfolio Change */-->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    24h Portfolio Change</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800 currency-format">[[${_24hPortfolioChange}]]</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--/* Total Profit Loss */-->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Total Profit Loss
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800 currency-format">[[${totalProfitLoss}]]</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--/* Assets Holding */-->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    # Assets Holding</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">[[${assetsHoldingCount}]]</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-comments fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/* End Content Row */-->

        <!--/* Content Row */-->
        <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-8 col-lg-7">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">Dropdown Header:</div>
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="myAreaChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-green-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header"></div>
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="chart-pie pt-4 pb-2">
                            <canvas id="myPieChart"></canvas>
                        </div>
                        <div class="mt-4 text-center small">
                            <span class="mr-2">
                                <i class="fas fa-circle text-primary"></i> Direct
                            </span>
                            <span class="mr-2">
                                <i class="fas fa-circle text-success"></i> Social
                            </span>
                            <span class="mr-2">
                                <i class="fas fa-circle text-info"></i> Referral
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/* End Content Row */-->
        
        <!--/*DataTales Example */-->
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">ASSETS HOLDING LIST</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="far fa-plus-square fa-sm fa-fw text-green-800"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="dropdownMenuLink">
                        <a href="#" class="dropdown-item" data-toggle="modal" data-target="#addNewCoinModal"><i class="fas fa-download fa-sm text-black-50"></i>
                            [[#{button.add-new-coin}]]</a>
                    </div>
                </div>

            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Coin</th>
                                <th></th>
                                <th>Price</th>
                                <th>1H</th>
                                <th>24H</th>
                                <th>7D</th>
                                <th>Market Cap</th>
                                <th>Last 7 Days</th>
                                <th>Holding </th>
                                <th>Profit</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>#</th>
                                <th>Coin</th>
                                <th></th>
                                <th>Price</th>
                                <th>1H</th>
                                <th>24H</th>
                                <th>7D</th>
                                <th>Market Cap</th>
                                <th>Last 7 Days</th>
                                <th>Holding </th>
                                <th>Profit</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr th:each="assetHolding,iter: ${assetHoldings}">
                                <td th:text="${iter.index + 1}" />
                                <td  th:text="${assetHolding.asset.name}">Bitcoin</td>
                                <td th:text="${assetHolding.asset.code}" >BTC</td>
                                <td />
                                <td>0.5%</td>
                                <td>1.0%</td>
                                <td>9.2%</td>
                                <td>$896,589,493,538</td>
                                <td></td>
                                <td th:text="${assetHolding.hold}">+$15,505.94 (16.9%) <br>
                                    0.32491781 BTC
                                </td>
                                <td>-$135.90 <br>
                                    -0.87%
                                     <a class="dropdown-item" href="/add-transaction.html" title="Add New Transaction">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                    <a class="dropdown-item" th:href="${'/transactions.html?assetName='+assetHolding.asset.name}" title="See Transactions">
                                        <i class="fas fa-chevron-right"></i>
                                    </a>
                                    </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--/*End DataTales Example */-->
        
        <!--/*Add New Coin Modal*/-->
	<div class="modal fade" id="addNewCoinModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Add New Coin</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					Select "Logout" below if you are ready to end your current session.
				</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
					<a class="btn btn-primary" href="#">Add</a>
				</div>
			</div>
		</div>
	</div>
	<!--/*End Add New Coin Modal*/-->

    </div>
    <!--/*End Page Content */-->
    
    

    <th:block id="script">
        <!--/* Page level plugins */-->
        <script src="/vendor/chart.js/dist/Chart.min.js"></script>

        <!--/* Page level custom scripts */-->
        <script src="/js/demo/chart-area-demo.js"></script>
        <script src="/js/demo/chart-pie-demo.js"></script>

        <!--/* Core plugin JavaScript */-->
        <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

        <script src="/vendor/datatables/js/jquery.dataTables.min.js"></script>
        <script src="/vendor/datatables/js/dataTables.bootstrap4.min.js"></script>
        <!--/* Page level custom scripts */-->
        <script>

            // Call the dataTables jQuery plugin
            $(document).ready(function () {
                $('#dataTable').DataTable();
            });


        </script>
    </th:block>
</body>

</html>