<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/main-layout :: main-fragment(  
                                                ~{::title},
                                                ~{:: #static-resources},
                                                ~{:: #nav},
                                                ~{:: #sidebar},
                                                ~{:: #main-content},  
                                                ~{:: #footer},
                                                ~{:: #script}
                                               )}">

<head>
    <meta charset="UTF-8">
    <title>Profile</title>

    <th:block id="static-resources">
        <!--/* Custom styles for this page */-->

    </th:block>

</head>

<body>
    <div id="sidebar" th:replace="~{fragments/sidebar :: default}"></div>
    <div id="nav" th:replace="~{/fragments/nav :: default}"></div>

    <!--/* Page Content */-->
    <div class="container-fluid" id="main-content">
        <!--/* Page Heading */-->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800" th:text="#{label.profile}">Profile</h1>
        </div>
    </div>
    <!--/*End Page Content */-->



    <th:block id="script">
        <script>

        </script>
    </th:block>
</body>

</html>